{% if not rt_update.rt_update  %}
{% from 'build_line.html' import build_table %}
{% import 'forms.html' as forms %}
{% import 'submenu.html' as submenu %}
{% extends "layout.html" %}

{% set bodyId = 'id="builderdetail_page"' %}

{% block submenu %}
  {{submenu.buildsubmenu(active_page=friendly_name, pathNum=4, builderName=friendly_name, buildersPath=path_to_builders, codebasesPath=path_to_codebases, buildNumber='', stepName='',selectedProject=selectedproject)}}
{% endblock %}

{% block content %}

<div class="initjson">
  <div id="brancOverViewCont" class="branch-overview top">
      
  </div>

<div class="row">
  <div class="rounded-container">
<div class="col-md-5">
    
      {% if authz.advertiseAction('forceBuild', request) and force_schedulers != {} %}
        <a href="#" class="custom-build more-info fl-right m-top4" title="Run Custom Build" data-popup-title="Run Custom Build" data-builder-name="{{ builder_name }}" data-builder-url="{{ builder_url }}" data-return-page="pending_json">Run build
        </a>
      {% endif %}          
     
      <h2 class="head-2">
        Current Builds
      </h2>

      <table id="rtCurrentBuildsTable" class="table table-katana tablesorter-js tablesorter first-child">
      </table>
  
      <button id="submitBtn" class="removeBuildBtn">Remove selected</button>

      <h2 class="head-2">
        Pending Build Requests
      </h2>

      <table id="rtPendingBuildsTable" class="table table-katana tablesorter-js tablesorter first-child buildqueue-table">
        <thead>
          <tr>
            <th class="txt-align-left">Requested at</th>
            <th class="txt-align-left">Waiting</th>
            <th class="txt-align-left">Branch</th>
            <th class="select-input no-tablesorter-js">    
		        <label for="selectall"> 
        	          Select all 
                </label>				            
                <input id="selectall" type="checkbox" name="checkuncheck" class="tooltip" title="Select or deselect all pending builds">
            </th>
          </tr>
        </thead>
      </table>

      <h2 class="head-2">
        Build Slaves
      </h2>
      
      <table id="rtSlavesTable" class="table table-katana tablesorter-js tablesorter first-child">
        <thead>
        {% if slaves %}
          <tr>
            <th>Name</th>
            <th>Status</th>          
          </tr>
        {% endif %}
        </thead>
      </table>

    </div>
    <div class="col-md-7">    
      <h2 class="head-2">
        Recent Builds
      </h2>

      <table id="rtBuildsTable" class="table table-katana tablesorter-js tablesorter first-child">
      </table>

      <!--
      {% if authz.advertiseAction('pingBuilder', request) %}
        <h2>Ping slaves</h2>
        {{ forms.ping_builder(builder_url+"/ping", authz) }}
      {% endif %}
      -->

    </div>
  </div>
</div>
</div>
{% endblock %}
    {% elif rt_update.rt_update[0] == 'buildslaves' %}
    <table class="table table-katana tablesorter-js tablesorter first-child">
              <thead>
              {% if slaves %}
                <tr>
                  <th class="txt-align-left">Name</th>
                  <th>Status</th>
                  <th>Admin</th>
                </tr>
              {% endif %}
              </thead>
              <tbody>
              {% for s in slaves %}
              <tr>
                <td class="txt-align-left">
                  <b>
                    <a href="{{ s.link|e }}">
                      {{ s.name|e }}
                    </a>
                  </b>
                </td>
                {% if s.connected %}
                  <td class="idle">connected</td>
                  <td>{{ s.admin|email if s.admin else ""}}</td>
                {% else %}
                  <td class="offline">offline</td>
                  <td>&nbsp;</td>
                {% endif %}
                
              {% else %}
                <td>no slaves attached</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>

{% endif %}
