{% extends 'layout.html' %}
{% import 'forms.html' as forms %}
{% import 'submenu.html' as submenu %}
{% from 'build_line.html' import build_table %}
{% from "box_macros.html" import box %}

{% set bodyId = 'id="builders_page"' %}

{% block submenu %}

    {{ submenu.buildsubmenu(active_page="builders", pathNum=3, codebasesPath=path_to_codebases, builderName='', buildNumber='', stepName='', selectedProject=selectedproject) }}
{% endblock %}

{% block content %}
    <table data-default-sort-col="0" id="tablesorterRt"
           class="table first-child tablesorter builders-table input-js initjson table-katana">
        <thead>
        <tr>
            <th>Builder</th>
            <th>Current jobs</th>
            <th>Last run</th>
            <th>Status</th>
            <th>Shortcuts</th>
            <th>Revision</th>
            <th>Build Time</th>
            <th>Run build</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

{% endblock %}
