{% extends "layout.html" %}
{% import 'submenu.html' as submenu %}
{% import 'forms.html' as forms %}
{% from "box_macros.html" import box %}
{% from "change_macros.html" import change with context %}
{% from "change_macros2.html" import changeth with context %}

{% set bodyId = 'id="builddetail_page"' %}

{% block submenu %}
  {{submenu.buildsubmenu(active_page=build_number, pathNum=5, buildersPath=path_to_builders, codebasesPath=path_to_codebases, builderName=builder_name, builderPath=path_to_builder, buildNumber=build_number, stepName='', selectedProject=selectedproject)}}
{% endblock %}

{% block content %}

<div class="top left"></div>
<div class="clear"></div>

<div class="row vertical-line">
  <div class="rounded-container m-bottom20">
<div class="col-md-6">
<div id="buildResult">

</div>

  {% if not b.isFinished() %}
  <div class="divider"></div>
      {% if authz.advertiseAction('stopBuild', request) %}
        <h2 class="head-2">
          Stop Build
        </h2>
        {{ forms.stop_build(build_url+"/stop"+codebases_arg, authz, on_all=False, short=False, label='This Build') }}
          <div class="divider"></div>
      {% endif %}
  {% else %}
      <div class="divider"></div>
      {% if b.getTestResults() %}
            <h3><a href="{{ tests_link }}"/></h3>
      {% endif %}
  {% endif %}

{% if authz.advertiseAction('forceBuild', request) and b.isFinished() %}
  <h2 class="head-2">
    Resubmit Build
  </h2>
  {{ forms.rebuild_build(build_url+"/rebuild"+codebases_arg, authz, exactly, sourcestamps[0], builder.name, path_to_builder) }}
    <div class="divider"></div>
{% endif %}

<h2 class="head-2">
  BuildSlave
</h2>
  
{% if slave_url %}  
  <a class="small-head" href="{{ slave_url|e }}">{{ slave_friendly_name|e }}</a>
{% else %}
  {{ slave_friendly_name|e }}
{% endif %}
<div class="divider"></div>

<h2 class="head-2">
  Reason
</h2>
<p>
{{ b.getReason()|e }}
</p>

<div class="divider"></div>

<h2 class="head-2">
  Timing
</h2>
<div class="dataTables_wrapper">
  <table class="table table-katana table-stripes m-bottom">
    <tr>
      <td>
        Start
      </td>
      <td class="start-time-js">
        {{ start }}
      </td>
    </tr>
  {% if end %}
    <tr>
      <td>
        End
      </td>
    <td class="end-time-js">
      {{ end }}
    </td>
  </tr>
  {% endif %}
    <tr>
      <td>
        Elapsed
      </td>
      <td id="elapsedTimeJs" class="elapsed-time-js">
        {{ elapsed }}
      </td>
    </tr>
    {% if raw_elapsed %}
    <tr>
        <td>Timing</td>
        <td>{{ raw_elapsed }}</td>
    </tr>
    {% endif %}
  </table>
</div>
<h2 class="head-2">
{% if sourcestamps|count == 1 %}
SourceStamp
{% else %}
SourceStamps
{% endif %}
</h2>

{% for ss in sourcestamps %}
<h3>{{ ss.codebase }}</h3>
<div class="dataTables_wrapper">
    <table class="table table-katana table-stripes m-bottom">
    

    {% if ss.project %}
      <tr>
        <td>
          Project
        </td>
        <td>
          {{ ss.project|projectlink }}
        </td>
      </tr>
    {% endif %}

    {% if ss.repository %}
      <tr><td>Repository</td><td>{{ ss.repository|repolink }}</td></tr>
    {% endif %}

    {% if ss.branch %}
      <tr><td>Branch</td><td>{{ ss.branch|e }}</td></tr>
    {% endif %}

    {% if ss.revision %}
      <tr><td>Revision</td><td>{{ ss.revision|revlink(ss.repository) }}</td></tr>
    {% endif %}

    {% if got_revisions[ss.codebase] %}
      <tr><td>Got Revision</td><td>{{ got_revisions[ss.codebase]|revlink(ss.repository) }}</td></tr>
    {% endif %}

    {% if ss.patch %}
      <tr><td>Patch</td><td>YES</td></tr>
    {% endif %}

    {% if ss.changes %}
      <tr><td>Changes</td><td><a href="#changes-{{ ss.codebase }}">{{ ss.changes|count }} change{{ 's' if ss.changes|count > 1 else '' }}</a></td></tr>
    {% endif %}

    {% if not ss.branch and not ss.revision and not ss.patch and not ss.changes %}
      <tr><td colspan="2">Build of most recent revision</td></tr>
    {% endif %}
    </table>
</div>
{% endfor %}

{#
 # TODO: turn this into a table, or some other sort of definition-list
 # that doesn't take up quite so much vertical space
 #}


<ul class="btn-list horisontal">
  <li>
<a class="more-info popup-btn-js-2 mod-1" href="#">
  Build Properties
</a>

  <div class="more-info-box more-info-box-js">
    <a href="#" class="close-btn">
    </a>
    <h3>Overview of build properties</h3>
    <div class="dataTables_wrapper">
      <table class="table table-katana table-stripes">
      <tr>
        <th>Name</th>
        <th>Value</th>
        <th>Source</th>
      </tr>

      {% for p in properties %}
      {% if p.source != "Force Build Form" %}
        <tr>
          <td>{{ p.name|e }}</td>
          {% if p.short_value %}
              <td>{{ p.short_value|e }} .. [property value too long]</td>
          {% else %}
              {% if p.value is not mapping %}
                  <td>{{ p.value|e }}</td>
              {% else %}
                  <td>
                      <table class="info" >
                          {%- for key, value in p.value.items() recursive %}
                              <tr><td>{{ key|e }}</td><td>{{ value|e }}</td></tr>
                          {% endfor %}
                      </table>
                  </td>
              {% endif %}
          {% endif %}
          <td>{{ p.source|e }}</td>
        </tr>
      {% endif %}
      {% endfor %}
      </table>
  </div>
</div>
</li>

  <li>
<a class="more-info popup-btn-js-2 mod-1" href="#">
  Custom build properties
</a>

  <div class="more-info-box more-info-box-js">
    <a href="#" class="close-btn">
    </a>
    <h3>Overview of custom build properties</h3>
    <div class="dataTables_wrapper">
    <table class="table table-katana table-stripes">
      <tr>
        <th>Name</th>
        <th>Label</th>
        <th>Value</th>
      </tr>

      {% for p in properties %}
          {% if p.source == "Force Build Form" %}
        <tr>
          <td>{{ p.name|e }}</td>
          <td>
          {% if p.label %}
          {{ p.label }}
          {% endif %}    
          </td>
          {% if p.text %}
          <td><textarea readonly cols="{{p.cols}}" rows="{{p.rows}}">{{ p.text|e }}</textarea></td>
          {% else %}
          <td>{{ p.value|e }}</td>
          {% endif %}
        </tr>
        {% endif %}    
      {% endfor %}
    </table>
    </div>
</div>
</li>
</ul>



</div>
<div class="col-md-6">

 <div class="clear"></div>
  <div id="artifacts-js">
      No artifacts
  </div>
  

  <div class="more-info-box more-info-box-js">
    <a class="close-btn" href="#"> </a>
    
    <ul class="builders-list">
    </ul>
  </div>

<ul id="testsListJS" class="tests-summary-list">
</ul>

<div class="clear"></div>
<div class="divider"></div>

<h2 class="head-2">
  Steps and Logfiles
</h2>

{#
 # TODO:
 #       urls = self.original.getURLs()
 #       ex_url_class = "BuildStep external"
 #       for name, target in urls.items():
 #           text.append('[<a href="%s" class="%s">%s</a>]' %
 #                       (target, ex_url_class, html.escape(name)))
 #}

<ol id="stepList" class="step-list">

</ol>
</div>
</div>
</div>
  
{% if has_changes %}
  
      <h2 class="head-2">All Changes</h2>
        {% for ss in sourcestamps %}
            {% if ss.changes %}
                      {% if ss.codebase %}
                        <h3 class="codebase-change-txt" id="changes-{{ ss.codebase }}">
                          {{ ss.codebase }}
                        </h3>
                      {% endif %}
            <div class="dataTables_wrapper">
              <table class="table table-katana var-1">

                {% for c in ss.changes %}

                    {% if loop.index == 1 %}
                      {{ changeth(c.asDict()) }}                 
                    {% endif %}
                    {% if c.category %}
                        <th>Category</th>
                    {% endif %}

                  {{ change(c.asDict()) }}
                {% endfor %}
              </table>
            </div>
              {% endif %}
            
        {% endfor %}
  
{% endif %}

{% endblock %}
