
{% macro cancel_pending_build(cancel_url, authz, short=False, id='all') %}
  <form method="post" name="cancel" action="{{ cancel_url }}" class='command cancelbuild'>
    {% if not short %}
      {% if id == 'all' %}
      <!--
        <p>To cancel all builds, fill out the following fields and
          push the 'Cancel' button</p>
        <p>To cancel individual builds, click the 'Cancel' buttons above.</p>
      -->
      {% else %}
      <!--
        <p>To cancel this build, fill out the following fields and
          push the 'Cancel' button</p>
        -->
      {% endif %}
    {% endif %}
    <input type="hidden" name="id" value="{{ id }}" />
    <input class="grey-btn" type="submit" value="Cancel" />
  </form>
{% endmacro %}

{% macro stop_change_builds(stopchange_url, changenum, authz) %}
  {% if not changenum  %}
    <form method="post" action="{{ stopchange_url }}" class='command stopchange'>
      {% if changenum %}
        <p>To cancel all builds for this change, push the 'Cancel' button</p>
      {% else %}
        <p>To cancel builds for this builder for a given change, fill out all
          fields and push the 'Cancel' button</p>
      {% endif %}

      {% if changenum %}
        <input type="hidden" name="change" value="{{ changenum }}" />
      {% else %}
        <div class="row">
          <span class="label">Change #:</span>
          <input type="text" name="change"/>
        </div>
      {% endif %}
      <input type="submit" value="Cancel" />
    </form>
  {% endif %}
{% endmacro %}

{% macro stop_build(stop_url, authz, on_all=False, on_selected=False, builders=[], short=False, label="Build") %}
  {% if not short %}
    <form id="buildForm" method="post" name="stop_build" action="{{ stop_url }}" class='command stopbuild'
               {{ 'style="display:inline"' if short else '' }}>
      {% if not short %}
        {% if on_all %}
          <p>To stop all builds, fill out the following field and
          push the <i>Stop {{ label }}</i> button</p>
        {% elif on_selected %}
          <p>To stop selected builds, select the builders, fill out the
          following field and push the <i>Stop {{ label }}</i> button</p>
          <table>
          {% for b in builders %}
            <tr>
              <td align="center"><input type="checkbox" name="selected" value="{{ b.name }}"></td>
              <td class="box"><a href="{{ b.link }}">{{ b.name|e }}</a></td>
            </tr>
          {% endfor %}
          </table>        
        {% endif %}
      {% endif %}

      {% if not short %}
        <div class="row">
          <input class="full-name-js" type="hidden" name="comments"/>
        </div>
      {% endif %}

      <input class="grey-btn" type="submit" value="Stop {{ label }}" />
    </form>
  {% endif %}
{% endmacro %}

{% macro force_build_scheduler_parameter(f, authz, request, sch, default_props) %}
    {% if f and not f.hide and (f.fullName != "username" or not authz.authenticated(request)) %}

    <div class="{% for subtype in f.type %} force-{{subtype}}{%endfor%}"{% if f.name %} id="force-{{sch.name}}-{{f.fullName}}"{% endif %}>
    {% if f.fullName and 'username' in f.fullName %}
      <span class="label">{{f.label}}</span>
       <input type='text' size='{{f.size}}' name="usernamedisabled" id="usernameDisabled" disabled />
       <input type="hidden" name="{{f.fullName}}" id="usernameHidden" />
    {% elif f.fullName and '_branch' in f.fullName %}
        <span class="label">{{f.label}}</span>
        {% if request.args|length > 0 and f.fullName in request.args.keys() %}
            <span class="label">{{ ' '.join(request.args[f.fullName])}}</span>
            <input type="hidden" name='{{f.fullName}}' value='{{ ' '.join(request.args[f.fullName])}}' />
         {% else %}
            <span class="label">{{default_props[sch.name+"."+f.fullName]}}</span>
            <input type="hidden" name='{{f.fullName}}' value='{{default_props[sch.name+"."+f.fullName]}}' />
          {% endif %}
    {% elif 'text' in f.type or 'int' in f.type %}
      
      {% if 'Reason' in f.label %}
       
      {% endif %}
       <span class="label">{{f.label}}</span>
      {% if 'Reason' in f.label %}
          <span title="This will be filled out automatically if a build is triggered as a dependency. Otherwise, you can write a reason here for why you are requesting the build (this information will show up on the build details page)." class="question-icon tooltip">
          </span>
      {% endif %}
       <input type='text' size='{{f.size}}'  name='{{f.fullName}}' value='{{default_props[sch.name+"."+f.fullName]}}' />
     
    {% elif 'Force Rebuild' in f.label%}
       <span class="label">{{f.label}}</span>
        <span title="Checking this box will force the build to be rebuilt, regardless of whether or not there is a previous successful build at the same revision. Dependencies will not be rebuilt if a suitable build is available.  Should be selected in most cases." class="tooltip question-icon">
      </span>
       <input type='checkbox' name='checkbox' value='{{f.fullName}}' {{default_props[sch.name+"."+f.fullName]}} />
    {% elif 'Force Chain Rebuild' in f.label%}
       <span class="label">{{f.label}}</span>
        <span title="Checking this box will force the build to be rebuilt, regardless of whether or not there is a previous successful build at the same revision. If the build triggers dependencies, those will also be rebuilt." class="tooltip question-icon">
      </span>
       <input type='checkbox' name='checkbox' value='{{f.fullName}}' {{default_props[sch.name+"."+f.fullName]}} />
    {% elif 'textarea' in f.type %}
       <span class="label">{{f.label}}</span>
       <textarea name='{{f.fullName}}' rows={{f.rows}} cols={{f.cols}}>{{default_props[sch.name+"."+f.fullName]}}</textarea>
    {% elif 'list' in f.type %}
       <span class="label">{{f.label}}</span>
            <span class="select">
            <select name='{{f.fullName}}' {{ f.multiple and "multiple" or ""}}>
             {% for c in f.choices %}
                <option {{(c in default_props[sch.name+"."+f.fullName]) and "selected" or ""}}>{{c}}</option>
            {% endfor %}
       </select>
       </span>
    {% elif 'nested' in f.type %}
      {% if f.label %}<span class="label">{{f.label}}</span>{% endif %}
      {% for subfield in f.fields %}
        {{ force_build_scheduler_parameter(subfield, authz, request, sch, default_props) }}
      {% endfor %}
    {% endif %}
    </div>
  {% endif %}      
{% endmacro %}

{% macro force_build_one_scheduler(force_url, authz, request, on_all, on_selected, builders, sch, default_props, slaves=[]) %}
 <form method="post" name="force_build" action="{{ force_url }}" class="command_forcebuild">

  <!--
    <h3>{{ sch.name|e }}</h3>
  -->
  {% if on_all %}
     <p>To force a build on <strong>all Builders</strong>, fill out the following fields
          and push the 'Force Build' button</p>
  {% elif on_selected %}
     <p>To force a build on <strong>certain Builders</strong>, select the
        builders, fill out the following fields and push the
        'Force Build' button</p>

     <table>
     {% for b in builders %}
     {% if b.name in sch.builderNames %}
       <tr>
         <td align="center"><input type="checkbox" name="selected" value="{{ b.name }}"></td>
         <td class="box"><a href="{{ b.link }}">{{ b.name|e }}</a></td>
       </tr>
       {% endif %}
     {% endfor %}
     </table>

  {% else %}
     

        
  {% endif %}
  <input type='hidden' name='forcescheduler' value='{{sch.name}}' />
<div class="content-blocks">
  <div class="general">
    <p class="form-message">Fill out revision information for all codebases (or leave all revision information blank to use the latest revision on the selected branches) and click the 'Run' button.</p>

    <div class="force-text" id="force-{{ sch.name }}-slave">
    {% if slaves %}
        <span class="label">Specify Slave</span>
           <span title="You can specify a build to run on a particular slave, or to run on all slaves. Leave set to 'Any Compatible' for most cases." class="tooltip question-icon">
      </span>
        <select id="selected_slave" name="selected_slave" class="select"> 
            <option value="default">Any Compatible</option>
            <option value="allCompatible">All Compatible</option>
            {% for slave in slaves %}
                {%  if slave.friendly_name %}
                    <option value="{{ slave.name }}">{{ slave.friendly_name }}</option>
                {% else %}
                    <option value="{{ slave.name }}">{{ slave.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
        </div>
  {% endif %}

    {% for f in sch.all_fields %}
      {{ force_build_scheduler_parameter(f, authz, request, sch, default_props) }}
    {% endfor %}
     <input class="grey-btn" type="submit" value="Run" />
  </div>
</div>
  

  

 </form>
{% endmacro %}
{% macro force_build(force_url, authz, request, on_all=False, on_selected=False, builders=[], force_schedulers={},default_props={}, slaves=[]) %}
  {% for name, sch in force_schedulers.items() %}
    {{ force_build_one_scheduler(force_url, authz, request, on_all, on_selected, builders, sch, default_props=default_props, slaves=slaves) }}
  {% endfor %}

{% endmacro %}

{% macro clean_shutdown(shutdown_url, authz) %}
  <form method="post" action="{{ shutdown_url }}" class='command clean_shutdown'>
  <p>To cause this master to shut down cleanly, push the 'Clean Shutdown' button.</p>
  <p>No other builds will be started on this master, and the master will
  stop once all current builds are finished.</p>

  <input type="submit" value="Clean Shutdown" />
 </form>
{% endmacro %}

{% macro cancel_clean_shutdown(cancel_shutdown_url, authz) %}
  <form method="post" action="{{ cancel_shutdown_url }}" class='command cancel_clean_shutdown'>
  <p>To cancel a previously initiated shutdown, push the 'Cancel Shutdown' button.</p>

  <input type="submit" value="Cancel Shutdown" />
 </form>
{% endmacro %}

{% macro ping_builder(ping_url, authz) %}
  <form method="post" action="{{ ping_url }}" class='command ping_builder'>
    <p>To ping the buildslave(s), push the 'Ping' button</p>
    <input class="link-button" type="submit" value="Ping Builder" />
  </form>
{% endmacro %}

{% macro rebuild_build(rebuild_url, authz, exactly, ss, builderName, url) %}
<div class="forms-inline">
 <form id="buildForm" method="post" action="{{ rebuild_url }}" class="command rebuild">

    {% if exactly %}
      <p>This build was built from a specific set of
          source files, and can be rebuilt exactly
          as it was here.</p>
    {% else %}
      <p>This build was built from the most recent revision
      {% if ss.branch %}
        (along branch {{ ss.branch }})
      {% endif %}
      and thus it might not be possible to rebuild it
      exactly. <br/>Any changes that have been committed
      after this build was started <b>will</b> be
      included in a rebuild.</p>
    {% endif %}


  {% if on_all %}
     <p>To force a build on <strong>all Builders</strong>, fill out the following fields
          and click the 'Force Build' button</p>
  {% else %}
     <p>To force a rebuild with the same source revisions and parameters used in this build,
        click the 'Rebuild' button.</p>
  {% endif %}
     
     <input class="full-name-js" type='hidden' name='comments' />
     <input class="grey-btn" type="submit" value="Rebuild" />
   
 </form>

 <form method="post" action="#" class="rebuild">
     <input type="button" class="instant-build grey-btn" value="Build Latest" title="Run build at latest changes">
     <input type="button" class="custom-build grey-btn" value="Custom Build" title="Run custom build" data-popup-title="Run custom build" data-builder-name="{{builderName}}" data-builder-url="{{url}}" data-return-page="builders_json">
 </form>
</div>
{% endmacro %}

{% macro show_users(users_url, authz) %}
  <form method="post" action="{{ users_url }}" class='command show_users'>
    <p>To show users, press the 'Show Users' button</p>

    <input type="submit" value="Show Users" />
  </form>
{% endmacro %}
