{%- block doctype -%}
<!DOCTYPE html>
{% endblock %}
<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if metatags %}
      {{ metatags }}
    {% endif %}
    {% if refresh %}
      <meta http-equiv="refresh" content="{{ refresh|e }}"/>
    {% endif %}
    <title>{{ pageTitle|e }}</title>
    
    <script type="text/javascript">
      var require = {
          baseUrl: "/prod/script/",
          urlArgs : "cachebust={{version}}",
          deps : ['main']
      };
    </script>

    {% block extra_script %}
    {% endblock extra_script %}
        
    {% if instant_json %}
    <script id="instant-json" type="application/javascript">
    var instantJSON = {{ instant_json }};
    </script>
    {% endif %}

    {% if analytics_code %}
    <script>
        setTimeout(function () {
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '{{ analytics_code }}', 'unity3d.com');
          ga('send', 'pageview');
        }, 500);
    </script>
    {% endif %}

    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ path_to_root }}rss">
    <link rel="shortcut icon" href="{{ path_to_root }}favicon.ico">
    {% block extra_header %}{% endblock %}
    <link rel="stylesheet" href="/prod/css/default.css?cachebust={{version}}" type="text/css" />
    {% endblock %} 

  </head>
  {% if bodyId %}
    {% set bodyId = bodyId %}
  {% else %}
    {% set bodyId = '' %}
  {% endif %}

  {% if user_settings and user_settings["colorBlind"] == "1" %}
    {% set colorBlindClass = 'color-blind-mode' %}
    {% set colorBlindInputVal = 'on' %}
  {% else %}
    {% set colorBlindClass = '' %}
    {% set colorBlindInputVal = 'off' %}
  {% endif %}

   <body {{ bodyId }} class="interface katana-main {{colorBlindClass}}" data-realTimeServer="{{ realTimeServer }}" style="display:none;">
   
    {% block header -%}
 
    <header class="header">          
        <nav class="top-menu-container">
          <div class="container">
            
          <h1 class="logo">
            <a href="/">
              <span>K</span>atana
            </a>
          </h1>    
          <ul class="smartphone-nav list-unstyled">
            <li>
            </li>
            <li>
            </li>
            <li>
            </li>
          </ul>
          <div class="right-block">

            {% if authenticated %}
            <a href="/users/settings" class="user-settings tooltip" title="Change the usersettings"></a>
            {% endif %}
              
            <div class="auth-user">
              {% if authenticated %}
                    <span class="hide-mobile">
                        {{ authz.getUsernameFull(request) }}
                    </span>
                    <span class="hide-mobile" id="authUserName"></span>
                    <a id="authUserBtn" href="/logout">
                        Log out
                    </a>
              {% else %}
                <a id="authUserBtn" href="/login">
                    Login
                </a>
              {% endif %}
            </div>            
          </div>

        <ul class="top-menu list-unstyled">
          
          <li>
            <a id="home" href="{{ path_to_root or '.' }}">Home</a>
          </li>
          <li class="project-dropdown">
            <a id="projects" href="{{ path_to_root }}projects">Projects</a>            
            <span id="projectDropdown" class="arrow-down-btn"></span>            
          </li>
          
          <li>
            <a id="buildqueue" href="{{ path_to_root }}buildqueue">              
               Build queue</a>            
          </li>
          <li>
            <a id="buildslaves"  href="{{ path_to_root }}buildslaves">
              <span id="verticalProgressBar" class="outer-bar tooltip responsive-tooltip">
                <span class="inner-bar">                  
                </span>
              </span>
              <span id="buildSlavesTotal" class="menu-bubble">
                0
              </span> 
              Build slaves
            </a>
          </li>
          <li>
            <a id="json" href="{{ path_to_root }}json/help">JSON API</a>
          </li>
        </ul>
        
        <div title="This is an indicator of how loaded Katana is.  It can be used for you to determine if it is a good
        time to schedule new builds.  If the background color is green, Katana is under light load -- yellow means
        moderate load and red is heavily loaded.  It is suggested to avoid scheduling new builds when the system is
        under moderate load and we ask that you avoid scheduling new builds when the system is heavily loaded" id="buildLoad" class="info-box green tooltip responsive-tooltip">
            <h4>Build Load</h4>
            <span>0</span>
        </div>
      </div>
         </nav>
      
       </header>

    {% endblock %}

    {%- block barecontent -%}
    <!--
      <hr/>
    -->
    {% if alert_msg != "" %}
    <div class="alert">    
    {{ alert_msg }}
    </div>
    {% endif %}
    
    {% block submenu -%}
    {%- endblock -%}

    <div class="content container">
      {%- block content -%}     
      {%- endblock -%}
    </div>
    {%- endblock -%}

    {%- block footer -%} 
    <footer class="footer" style="clear:both">
      <div class="container">
        <h3 class="buildbot-version">
          <a href="https://github.com/Unity-Technologies/buildbot/tree/katana">Katana</a> - a fork of <a href="http://buildbot.net/">BuildBot</a>
          <span>
            ({{version}})
          </span>
          {% if title -%}
        
          - working for the &nbsp;
          {%- if title_url -%}
            <a href="{{ title_url }}">{{ title }}</a>

          {%- else -%}
            {{ title }}
          {%- endif -%}
          &nbsp;project.
        
        {%- endif -%}
        </h3>
        
      
        <h3 class="page-build-txt">
          Page built: <b>{{ time }}</b> ({{ tz }})
        </h3>
      </div>
    </footer>
    {% endblock -%}

    
    <script src="/prod/script/main.js?cachebust={{version}}"></script>
  </body>
</html>
