{{#revisionCell}}
    <ul class="revision list-unstyled reset">
    {{#each sourceStamps}}
        {{#if ../history_build}}
            <li class="recent-build-icon-spacer">
        {{else}}
            <li>
        {{/if}}
        <a href="{{display_repository}}">{{codebase}}</a> /
        {{#unless ../hide_branch}}
            {{branch}} /
        {{/unless}}
        {{#if revision_short}}
            <a href="{{display_repository}}/changeset/{{revision}}">{{revision_short}}</a>
        {{else}}
            N/A
        {{/if}}
        {{#if ../history_build}}
            <span class="recent-build-icon tooltip" title="Built from specific revision -- may not be the latest on the branch">
            </span>
        {{/if}}
        </li>
    {{/each}}
    </ul>
{{/revisionCell}}


{{#buildID}}
    {{data.name}}
	<a href="{{data.url.path}}">
		#{{data.number}}
	</a>
{{/buildID}}

{{#slaveName}}
    {{#if url}}
        <a href="{{url}}">{{name}}</a>
    {{else}}
        {{name}}
    {{/if}}
{{/slaveName}}

{{#slaveStatus}}
	{{#showSpinIcon}}
		<a class="more-info popup-btn-json-js" href="#">
			{{showStatusTxt}}
		</a>
		<span title="Running" class="spin-icon animate-spin pull-bottom"></span>
	{{/showSpinIcon}}
	{{^showSpinIcon}}
		{{showStatusTxt}}
	{{/showSpinIcon}}
{{/slaveStatus}}

{{#buildProgress}}
	{{#if currentBuilds}}
	    <ul class="list current-job-js building">
	    	{{#each currentBuilds}}
				<li>
					<div class="builders-status-truncate"><a href="{{url.path}}">#{{number}}</a>
						{{#currentStep}}
							{{name}}
						{{/currentStep}}
					</div>

	                <span class="spin-icon animate-spin"></span>

					<div class="clear"></div>
					{{#if eta}}
						<div data-starttime="{{times.[0]}}" data-etatime="{{eta}}" class="percent-outer-js percent-outer">
							<span class="time-txt-js time-txt"></span>
							<div class="percent-inner-js percent-inner">
							<div class="progressbar-overlay"></div>
							</div>
						</div>
	                {{else}}
						<div data-starttime="{{times.[0]}}" data-etatime="0" class="percent-outer-js percent-outer">
							<span class="time-txt-js time-txt">{{times.[0]}}</span>
							<div class="percent-inner-js percent-inner">
								<div class="progressbar-overlay"></div>
							</div>
						</div>
	                {{/if}}
				</li>
			{{/each}}
		</ul>
	{{/if}}

    {{#if showPending}}
        {{#if pendingBuilds}}
            <a class="more-info pending-popup mod-1" href="#" data-builderName="{{builderName}}"> {{pendingBuilds}} Pending jobs </a>
        {{/if}}
    {{/if}}
{{/buildProgress}}

{{#stopBuild}}
    <form>
	    <input type="checkbox" name="cancelselected" />
	    <a title="Remove this build" class="delete-icon" href="#" data-cancel-url="{{stopURL}}/stop"></a>
    </form>
{{/stopBuild}}

{{#showInputField}}
	<label for="{{text}}">
		{{text}}
	</label>
	<input id="{{inputId}}" type="checkbox" name="checkuncheck" />
{{/showInputField}}

{{#slaveHealthCell}}
    {{> slave:health}}
{{/slaveHealthCell}}