@charset "UTF-8";

.sort-name {
    display: block;
    font-size: 11px;
    margin-bottom: 2px;
    margin-left: 9px;
    margin-top: 9px;
    font-weight: bold;
    &:after {
        font-size: 10px;
        content: "";
        font-family: katana_icons;
        padding-left: 5px;
    }
    &.direction-up:after {
        content: "";
    }
}

.show-common {
	clear: both;
    display: block;
    float: right;
    font-size: 11px;
    margin-top: 1px;
    outline: none;
}

div.common-branch-select {
    float: right;
}

.pos-relative {
	position: relative;
}

#branchTxt {
	float:right;
}

.help-txt {
    float: right;
    .more-info-box & {
        float: none;
    }
    color: #787878;
    display: block;
    font-weight: normal;
    @include text-shadow(1px 1px 0 #fff);
    width: 188px;
    margin: 0px 17px 10px 0;
}

.select2-container {
	min-width:90px;
    margin: 0;
    position: relative;
    display: inline-block;
    /* inline-block for ie7 */
    zoom: 1;
    *display: inline;
    vertical-align: middle;
    text-align: left;
}
.select2-container-active {
    @include box-shadow($focusShadow, 0 1px 0 rgba(255, 255, 255, 0.45) inset, 1px 1px 0 #FFFFFF);
    @include border-radius(5px);
    a.select2-choice {
        @include box-shadow (0 1px 0 rgba(255, 255, 255, 0.45) inset, 0 0 0 #FFFFFF);
    }
}

.more-info-box .select2-container {
	width:150px;
}

.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
  /*
    Force border-box so that % widths fit the parent
    container without overlap because of margin/padding.

    More Info : http://www.quirksmode.org/css/box.html
  */

	@include box-sizing( border-box); /* css3 */
}

.select2-container .select2-choice {
      display: block;
      height: 26px;
      overflow: hidden;
      padding: 0 0 0 8px;

      border: 1px solid #aaa;
      border-radius: 5px;
      background-color: #fff;
      @include bgimage (linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%));
      background-clip: padding-box;
      @include box-shadow ( 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1));
      text-decoration: none;
      white-space: nowrap;
      line-height: 24px;
      position: relative;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		  user-select: none;
}

.select2-container.select2-dropdown-open .select2-choice {
	@include border-radius( 5px 5px 0 0);
	border-bottom:none;
}

.select2-container .select2-choice > .select2-chosen {
    margin-right: 26px;
    display: block;
    overflow: hidden;
	color:#333;
    white-space: nowrap;
	@include text-shadow(0 1px 0 #fff);
    text-overflow: ellipsis;
}
.select2-hidden-accessible {
    display: none;
}

.select2-container .select2-choice abbr {
    display: none;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 24px;
    top: 8px;

    font-size: 1px;
    text-decoration: none;

    border: 0;

    cursor: pointer;
    outline: 0;
}

.select2-container.select2-allowclear .select2-choice abbr {
    display: inline-block;
}

.select2-container .select2-choice abbr:hover {
    background-position: right -11px;
    cursor: pointer;
}

.select2-drop-mask {
    border: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    z-index: 9998;
    /* styles required for IE to work */
    background-color: #fff;
    opacity: 0;
    filter: alpha(opacity=0);
}

.select2-drop {
    width: 100%;
    margin-top: -1px;
    position: absolute;
    z-index: 9999;
    top: 100%;

    background: #fff;
    color: #000;
    border: 1px solid #aaa;
    border-top: 0;

    border-radius: 0 0 4px 4px;

    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
            box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
}

.select2-drop-auto-width {
    border-top: 1px solid #aaa;
    width: auto;
}

.select2-drop-auto-width .select2-search {
    padding-top: 4px;
}

.select2-drop.select2-drop-above {
    margin-top: 1px;
    border-top: 1px solid #aaa;
    border-bottom: 0;

    border-radius: 4px 4px 0 0;

    -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
            box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
}

.select2-drop-active {
    border-top: none;
}

.select2-drop.select2-drop-above.select2-drop-active {
    border-top: 1px solid #5897fb;
}

.select2-container .select2-choice .select2-arrow {
	position: absolute;
		  top: 0;
		  right: 0;
		  display: block;
		  width: 18px;
		  height: 100%;
		  &:before {
		  	color: #747474;
		    content: "▾";
		    font-family: tahoma;
		    font-size: 16px;
		    position: absolute;
		    right: 7px;
		    top: -2px;
		  }
}
.common-branch-select {
    margin: -7px 0 -6px;
    min-width: 204px;
    .select2-choice {
        @include box-shadow(0 1px 0 rgba(255, 255, 255, 0.45) inset, 1px 1px 0 #FFFFFF);
        @include bgimage (linear-gradient(top , #858585 0%, #555555 100%));
        padding: 3px 0 3px 11px;
        .select2-arrow {
            color:#fff;
            &:before {
                top:0;
                @include text-shadow(0 -1px 0 rgba(0, 0, 0, 0.44));
                color:#fff;
            }
        }
        .select2-chosen {
            font-size: 14px;
            line-height: 22px;
            @include text-shadow(0 -1px 0 rgba(0, 0, 0, 0.44));
            //text-transform: uppercase;
            color: #FFFFFF;
            font-weight: normal;
        }
    }
}
.select2-search {
    display: inline-block;
    width: 100%;
    min-height: 26px;
    margin: 0;
    padding-left: 4px;
    padding-right: 4px;

    position: relative;
    z-index: 10000;

    white-space: nowrap;
}

.select2-search {
    &:after {
            color: #ADADAD;
            content: "";
            font-family: katana_icons;
            left: 12px;
            line-height: 12px;
            position: absolute;
            top: 14px;
    }
    input {
        @include border-radius (3px);
        color:#666;
        width: 100%;
        height: auto !important;
        min-height: 26px;
        padding: 4px 20px 4px 26px;
        margin: 0;
        margin-top: 8px;
        outline: 0;
        font-family: sans-serif;
        font-size: 1em;
        border: 1px solid #D6D6D6;
        -webkit-box-shadow: none;
            box-shadow: none;
    }
}

.select2-search input.select2-active {

}

/* results */
.select2-results {
    max-height: 240px;
    padding: 0 0 0 4px;
    margin: 4px 4px 4px 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.select2-results ul.select2-result-sub {
    margin: 0;
    padding-left: 0;
}

.select2-results li {
    list-style: none;
    display: list-item;
    background-image: none;
}

.select2-results li.select2-result-with-children > .select2-result-label {
    font-weight: bold;
}

.select2-results .select2-result-label {
    padding: 3px 7px 4px;
    margin: 0;
    cursor: pointer;

    min-height: 1em;

    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.select2-results .select2-highlighted {
    background-color: #3875d7;
  	@include bgimage (linear-gradient(top, #3A669A 0%, #6AA1CD 100%));
  	color: #fff;
  	@include text-shadow (none);
}

.select2-results li em {
    background: #feffde;
    font-style: normal;
}

.select2-results .select2-highlighted em {
    background: transparent;
}

.select2-results .select2-highlighted ul {
    background: #fff;
    color: #000;
}


.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
    background: #f4f4f4;
    display: list-item;
}

/*
disabled look for disabled choices in the results dropdown
*/
.select2-results .select2-disabled.select2-highlighted {
    color: #666;
    background: #f4f4f4;
    display: list-item;
    cursor: default;
}
.select2-results .select2-disabled {
  background: #f4f4f4;
  display: none;
  cursor: default;
}

.select2-results .select2-selected {
    display: none;
}

.select2-more-results {
    background: #f4f4f4;
    display: list-item;
}

/* disabled styles */

.select2-container.select2-container-disabled .select2-choice {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.select2-container.select2-container-disabled .select2-choice .select2-arrow {
    background-color: #f4f4f4;
    background-image: none;
    border-left: 0;
}

.select2-container.select2-container-disabled .select2-choice abbr {
    display: none;
}

/* disabled styles */



.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
    text-decoration: underline;
}

.select2-offscreen, .select2-offscreen:focus {
    clip: rect(0 0 0 0) !important;
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    position: absolute !important;
    outline: 0 !important;
    left: 0px !important;
    top: 0px !important;
}

.select2-display-none {
    display: none;
}

.select2-measure-scrollbar {
    position: absolute;
    top: -10000px;
    left: -10000px;
    width: 100px;
    height: 100px;
    overflow: scroll;
}
